@model IEnumerable<Project_3.Models.Brand>
@using Project_3.Models;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    IEnumerable<Categorie> idcate = ViewBag.ListCategory as IEnumerable<Categorie>;


}
@{ 
    IEnumerable<Brand> Brandlist = ViewBag.ListBrand as IEnumerable<Brand>;
}
<section class="page-top-section set-bg" data-setbg="../../Content/Temp/img/page-top-bg/4.jpg">
    <div class="container">
        <h2>Nạp tiền</h2>
        <nav class="site-breadcrumb">
        </nav>
    </div>
</section>
<div style="text-align:center">
    <h2 style="margin-top:2%;text-align:center;margin-bottom:2%">
        Chọn nhà mạng muốn nạp
    </h2>

    <div class="row" style="margin-bottom:3%">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row">
                @foreach (var item in Brandlist)
                {
                    <div class="col-md-4" style="text-align:center;margin-bottom:2%;">
                        <a href="@Url.Action("Index", "Products", new { idbrand = item.Id,idcategories = idcate.First().Id})">
                            <div style="text-align:center;border:solid 1px black;border-radius:25px">
                                <img src="@item.Img" style="border-start-start-radius: 25px; border-start-end-radius: 25px; width:100%;height:300px " />
                                <div style="padding-top: 1%; padding-bottom: 1%; background-color: black; color: white; border-end-start-radius: 25px; border-end-end-radius: 25px;font-size:20px;font-weight:bold">
                                    @item.Name
                                </div>
                            </div>
                        </a>
                    </div>

                }
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

</div>
<section class="score-section text-white set-bg" data-setbg="../../Content/Temp/img/score-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <h2>Nạp tiền bằng ví</h2>
                <h4>Sử dụng ví của chúng tôi để nạp tiền một cách nhanh chóng</h4>
                <a href="@Url.Action("AccountManagement", "AuthUser")" class="site-btn sb-big">Nạp vào từ ví</a>
            </div>
        </div>
        <img src="../../Content/Temp/img/hand.png" alt="" class="hand-img">
    </div>
</section>