@{
    ViewBag.Title = "About";
}

<section class="page-top-section set-bg" data-setbg="../../Content/Temp/img/page-top-bg/1.jpg">
    <div class="container">
        <h2>Giới thiệu</h2>
        <nav class="site-breadcrumb">
            <a class="sb-item" href="@Url.Action("Index", "Home")">Trang chủ</a>
            <span class="sb-item active">Giới thiệu</span>
        </nav>
    </div>
</section>
<!-- Page top Section end -->
<!-- About Section end -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="~/Content/Temp/img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="about-text">
                    <h2>Chúng tôi là hàng đầu trong lĩnh vực thanh toán điện tử</h2>
                    <p>Chúng tôi đã ứng dụng công nghệ hiện đại, đột phá trong lĩnh vực thanh toán điện tử nhằm xây dựng hệ sinh thái dịch vụ đa dạng về sản phẩm, tiện ích, mang tới những trải nghiệm dịch vụ ưu việt phục vụ khách hàng và đối tác.</p>
                    <a href="@Url.Action("Index", "Categories")" class="site-btn">Nạp tiền ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review Section end -->
<section class="review-section spad">
    <div class="container">
        <div class="text-center text-white mb-5 pb-2">
            <h2>Độ phủ sóng</h2>
            <p>Với lĩnh vực kinh doanh cốt lõi Tài chính – Ngân hàng, Công nghệ Thông tin – Viễn thông, chúng tôi cung cấp dịch vụ và giải pháp thanh toán tới hàng nghìn doanh nghiệp trong nước và quốc tế</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="review-item" style=" text-align:center">
                    <h2 style="color:white">40 +</h2>
                    <h6 style="color:white"> Ngân hàng liên kết trên tổng số 49 ngân hàng toàn quốc</h6>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="review-item" style=" text-align:center">
                    <h2 style="color:white">+ 15.000</h2>
                    <h6 style="color:white"> Danh nghiệp hợp tác tính đến năm 2022</h6>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="review-item" style=" text-align:center">
                    <h2 style="color:white">5 +</h2>
                    <h6 style="color:white"> Công ti viễn thông hàng đầu việt nam</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review Section end -->
<!-- Authorities Section end -->
<section class="authorities-section spad">
    <div class="container">
        <div class="text-center">
            <h2>Đối tác tiêu biểu</h2>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="authoritie-item">
                    <img style="width:100%" src="https://vnpay.vn/_nuxt/img/4_Viettel-100.ee80bfa.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="authoritie-item">
                    <img style="width:100%" src="https://vnpay.vn/_nuxt/img/5_Mobifone-100.9a4b1c5.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="authoritie-item">
                    <img style="width:100%" src="https://vnpay.vn/_nuxt/img/3_VinaPhone-100.311fae1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="authoritie-item">
                    <img style="width:100%" src="https://vnpay.vn/_nuxt/img/7_FPT-100.87de813.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
