@using Project_3.Models;
@{
    ViewBag.Title = "Home Page";
}
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hs-text">
                    <h2>Bạn cần nạp tiền cho các dịch vụ điện thoại?</h2>
                    <p>
                        Chúng tôi hỗ trợ nạp tiền di động trên toàn thế giới: gửi tín dụng và dữ liệu đến bất kỳ điện thoại nào.
                        Với hơn 10 năm kinh nghiệm, chúng tôi cung cấp sự an toàn và đáng tin cậy Có hiệu lực Chúng tôi đảm bảo sự hài lòng 100% cho mọi giao dịch
                    </p>
                    <a href="@Url.Action("About", "Home")" class="site-btn sb-dark">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>
    <div class="hero-slider">
        <div class="hs-item set-bg" data-setbg="https://g-pay.vn/asset/admins/upload/images/mua-the-cao-online.jpg"></div>
    </div>
</section>
<!-- Hero Section end -->
<!-- Why Section end -->
<section class="why-section spad">
    <div class="container">
        <div class="text-center mb-5 pb-4">
            <h2>Tại sao bạn nên chọn chúng tôi?</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <i class="flaticon-012-24-hours"></i>
                    </div>
                    <div class="ib-text">
                        <h5>Nạp tiền nhanh chóng mọi lúc mọi nơi</h5>
                        <p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <i class="flaticon-036-customer-service"></i>
                    </div>
                    <div class="ib-text">
                        <h5>Đội ngũ nhân viên làm việc chuyên nghiệp </h5>
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per incep-tos himenaeos. Suspendisse potenti. Ut gravida mattis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <i class="flaticon-039-info"></i>
                    </div>
                    <div class="ib-text">
                        <h5>Chúng tôi cung cấp sự an toàn và đáng tin cậy</h5>
                        <p>Conubia nostra, per inceptos himenae os. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-3">
            <a href="@Url.Action("Index", "Categories")" class="site-btn sb-big">Nạp ngay</a>
        </div>
    </div>
</section>

<section class="help-section spad">
    <div class="container">
        <div class="text-center text-white mb-5 pb-4">
            <h2>Lợi ích khi nạp thẻ bằng <strong>L2Go</strong></h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua.  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec.</p>
            </div>
            <div class="col-md-6">
                <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua.  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="help-list">
                    <li>Nhanh chóng và tiết kiệm thời gian</li>
                    <li>Tính bảo mật cao</li>
                    <li>Giúp quản lý tài chính dễ dàng</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="help-list">
                    <li>Nhanh chóng,Tiện lợi</li>
                    <li>Linh hoạt trong việc thanh toán</li>
                    <li>Hạn chế rủi ro hơn dùng tiền mặt</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!-- Help Section end -->
<!-- Info Section -->
<section class="info-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="~/Content/Temp/img/info-img.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="info-text">
                    <h2>Liên hệ với chúng tôi khi cần giúp đỡ</h2>
                    <h5>Hoạt động 24/7 </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua.  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl.</p>
                    <ul>
                        <li>+84 56873 2246</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
