@model Project_3.Models.account_balance

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style="width:100%;text-align:center">
            <img src="~/Img/warning.png" style="width:10%;text-align:center" />
            <h2>bạn có muốn xóa mục này không ?</h2>
        </div>
        <hr />
        <h4>
            <b>Mã tài khoản:</b>
        </h4>

        <h5>
            @Html.DisplayFor(model => model.Id_uer)
        </h5>

        <h4>
            <b>Số tiền</b>
        </h4>

        <h5>
            @Html.DisplayFor(model => model.Money)
        </h5>



        @using (Html.BeginForm())
        {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input style="background-color:red;color:white;font-size:20px;font-weight:bold;width:100%" type="submit" value="Xóa" class="btn btn-default" />
                    <p></p>
                    <a style="background-color:forestgreen;padding:9px 43%;color:white;font-size:20px" href="@Url.Action("Index", "account_balances")"><b>Quay lại</b></a>
                </div>}
    </div>
    <div class="col-md-4"></div>
</div>