
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>LOANS2GO | Loans HTML Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="loans HTML Template">
    <meta name="keywords" content="loans, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <!-- Google font -->
    <!-- Stylesheets -->
    @Styles.Render("~/frontend/css")

</head>
<body>
    @RenderBody()
</body>
</html>
