@model IEnumerable<Project_3.Models.Categorie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-top-section set-bg" data-setbg="../../Content/Temp/img/page-top-bg/4.jpg">
    <div class="container">
        <h2>Nạp tiền</h2>
        <nav class="site-breadcrumb">
        </nav>
    </div>
</section>
<h2 style="margin-top:4%;text-align:center;margin-bottom:4%">Chọn loại dịch vụ cần nạp</h2>


<div class="row" style="margin-bottom:10%">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-md-4" style="text-align:center;margin-bottom:2%;">
                <a href="@Url.Action("Index", "Brands", new { idcate = item.Id })">
                    <div style="text-align:center;border:solid 1px black;border-radius:25px">
                        <img src="@item.Img" width=100% style="border-start-start-radius: 25px; border-start-end-radius: 25px" />
                        <div style="padding-top: 1%; padding-bottom: 1%; background-color: black; color: white; border-end-start-radius: 25px; border-end-end-radius: 25px;font-size:20px;font-weight:bold">
                            @item.Name
                        </div>
                    </div>
                </a>
            </div>
                
            }
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>





